JWT_SECRET=W!S9@pB2^yT7&mD4#qF1$gH0*kL6%zX5(aV8)cE3+rJ%uI
JWT_LIFETIME=30d
MONGO_URI=mongodb://localhost:27017/jobnest
PORT=5000
SMTP_EMAIL=jobnest710@gmail.com
SMTP_PASSWORD=ksuvccuphillgyud
FRONTEND_URL=http://localhost:3000
GEMINI_API_KEY=AIzaSyBDjvAOHcIpQJv3Rf0qhmiYV5OegRKnbbM
GEMINI_MODEL=gemini-1.5-flash

